#num11,#num13,#num14,#num15,#num16,#num17,#num19,#num20,#num21,#num22,#num23,#num24 { background: #58D68D; }  /*verde*/


#num25,#num26,#num27,#num28,#num29,#num30,#num31,#num40,#num44 { background: #58D68D; }  /*verde*/
  

#num49,#num55,#num57,#num59,#num61,#num63,#num70,#num73,#num75 { background: #58D68D; }  /*verde*/

#num78,#num79, #num2,#num3,#num10,#num46,#num48,#num58,#num72, #num80, #num81 { background: #58D68D; }  /*verde*/
