#num6,#num7,#num8,#num11,#num12,#num32,#num33,#num34,#num37,#num38,#num39,#num40 { background: #58D68D; }  /*verde*/


#num42,#num43,#num44,#num46,#num47,#num49,#num51,#num52,#num53,#num54,#num55,#num56 { background: #58D68D; }  /*verde*/

#num57,#num58,#num59,#num60,#num61,#num65,#num66,#num68,#num70,#num71,#num72,#num74 { background: #58D68D; }  /*verde*/
  

#num75,#num77,#num80 { background: #58D68D; }  /*verde*/
